.theme-menu__button:hover {
  animation: menu 0.3s ease forwards;
}

@keyframes menu {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.theme-menu__button:disabled::after {
  content: '▶';
  position: absolute;
  inset-inline-start: -18px;
  animation: item alternate 0.5s ease-in-out infinite;
}

@keyframes item {
  from {
    inset-inline-start: -18px;
  }

  to {
    inset-inline-start: -14px;
  }
}

.theme-menu__button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::before {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.3s ease;
}

.card__like-button:focus-visible,
.card__save-button:focus-visible {
  box-shadow: 2px 2px currentColor;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid currentColor;
  transition: 0.3s ease;
}

.card__like-button::before,
.card__save-button::before,
.card__dialog-button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 0;
  background-color: #000;
  mix-blend-mode: difference;
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before,
.card__save-button:hover::before,
.card__dialog-button:hover::before {
  background-color: var(--bg-color-hover, #fff);
  width: 100%;
}

.like-icon .core {
  transition-delay: 0.03s;
  transition-duration: 2s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s 0s linear;
}

.like-icon .main-body {
  transition-delay: 0s;
  transition-duration: 1.5s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}