:root.theme-dark {
  --normal: 465;
  --bold: 785;
  --accent-color: #00CC14;
  --bg-color: #000;
  --gradient-top: #007f0c;
  --gradient-bot: #004306;
  --font-color: #00CC14;
  --contour-color: #00CC14;
  --hover-color: #00CC14;
  --gradient-color: #000;
  --bg-color-hover: #00CC14;
}

:root.theme-light {
  --normal: 400;
  --bold: 700;
  --accent-color: #000;
  --bg-color: #FFF;
  --gradient-top: #e7e7e7;
  --gradient-bot: #1a1a1a;
  --font-color: #FFF;
  --contour-color: #000;
  --hover-color: #000;
  --gradient-color: #d3d3d3;
  --bg-color-hover: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --normal: 465;
    --bold: 785;
    --accent-color: #00CC14;
    --bg-color: #000;
    --gradient-top: #007f0c;
    --gradient-bot: #004306;
    --font-color: #00CC14;
    --contour-color: #00CC14;
    --hover-color: #00CC14;
    --gradient-color: #000;
    --bg-color-hover: #00CC14;
  }
}