:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --normal: 400;
  --bold: 700;
  --accent-color: #000;
  --bg-color: #FFF;
  --gradient-top: #e7e7e7;
  --gradient-bot: #1a1a1a;
  --small-font: 18px;
  --font-color: #FFF;
  --contour-color: #000;
  --sparks-color: #FF0000;
  --hover-color: #000;
  --backdrop-color: #000;
  --gradient-color: #d3d3d3;
  --bg-color-hover: #fff;
}